@font-face {
    font-family: 'Aspekta';
    src: url('fonts/Aspekta-100.ttf') format('truetype');
    font-weight: light;
    font-style: light;
}

@font-face {
    font-family: 'Aspekta';
    src: url('fonts/Aspekta-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aspekta';
    src: url('fonts/Aspekta-1000.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

details > summary span.icon {
    font-family: 'Aspekta';
    font-size: 20px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
    margin-left: auto;
    color: #808080;
    display: flex;
    justify-content: top;
    align-items: center;
}

details[open] summary span.icon {
    transform: rotate(180deg);
}

.changelog-section {
    background-color: #121212;
    box-shadow: 0 0 5px rgb(40, 40, 40);
    padding: 20px;
    color: beige;
    border-radius: 10px;
    margin-left: 7%;
    margin-bottom: 20px;
    user-select: none;
    width: 90%;
}

.changelog-section:first-of-type {
    margin-top: 70px;
}

.changelog-section:last-of-type {
    margin-bottom: 40px;
}

.changelog-category {
    font-family: 'Aspekta';
    font-size: 30px;
    color: #ff6252;
    margin-bottom: 10px;
    --bg-size: 400%;
    --color-one: #ff6252;
    --color-two: #ff9752;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
    ) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .changelog-category {
        animation: move-bg 12s linear infinite;
    }
    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}

.changelog-container {
    font-family: 'Aspekta';
    font-size: 30px;
}

.changelog-container-description {
    font-family: 'Aspekta';
    font-size: 15px;
    color: #808080;
    margin-bottom: 20px;
}

.down20 {
    margin-top: 30px;
}

.changelog-container-title {
    font-family: 'Aspekta';
    font-size: 20px;
    color: beige;
    margin-bottom: 10px;
}

.changelog-list {
    box-shadow: 0 0 5px rgb(40, 40, 40);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
}

.changelog-summary {
    font-family: 'Aspekta';
    font-size: 20px;
    color: #808080;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.changelog-content {
    font-family: 'Aspekta';
}

.changelog-description {
    font-family: 'Aspekta';
    font-size: 15px;
    padding: 15px;
    color: #808080;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.changelog-feature {
    font-family: 'Aspekta';
    font-size: 15px;
    color: #ff6252;
}

.changelog-explanation {
    font-family: 'Aspekta';
    font-size: 15px;
    color: #808080;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .changelog-section {
        padding: 15px;
        margin: 20px auto;
    }
    
    .changelog-category {
        font-size: 24px;
    }

    .changelog-container {
        font-size: 24px;
    }

    .changelog-container-description {
        font-size: 14px;
    }

    .changelog-container-title {
        font-size: 20px;
    }

    .changelog-summary {
        font-size: 18px;
    }

    .changelog-description {
        font-size: 14px;
        padding: 10px;
    }

    .changelog-feature,
    .changelog-explanation {
        font-size: 14px;
    }

    .changelog-list {
        padding: 20px;
        margin-bottom: 10px;
    }
    
    .container {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
