@font-face {
    font-family: 'Aspekta';
    src: url('fonts/Aspekta-100.ttf') format('truetype');
    font-weight: light;
    font-style: light;
}

@font-face {
    font-family: 'Aspekta';
    src: url('fonts/Aspekta-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aspekta';
    src: url('fonts/Aspekta-1000.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.homepage-flaux {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 20vh;
    flex: 1;
}

.homepage-flaux-content {
    max-width: 60%;
}

.homepage-title {
    font-family: 'Aspekta';
    font-size: 40px;
    padding-bottom: 20px;
    --bg-size: 400%;
    --color-one: #ff6252;
    --color-two: #ff9752;
    font-family: sans-serif;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
    .homepage-title {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
}

.homepage-description {
    color: #767676;
    font-family: 'Aspekta';
    font-size: 20px;
    padding-bottom: 10px;
}

.homepage-flaux img {
    width: 30%;
    margin-left: 20px;
}

.homepage-buttons {
    padding-top: 1vh;
    gap: 30px;
    display: flex;
}

.homepage-button {
    border-radius: 1vh;
    padding: 14px 22px;
    background-color: beige;
    border: none;
    color: #121212;
    font-family: 'Aspekta';
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.homepage-button:hover {
    transform: scale(1.05);
}





.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
}

.modal-content {
    background-color: #121212;
    color: beige;
    border-radius: 30px;
    border: 2.5px solid beige;
    margin: auto;
    padding: 20px;
    width: 40%;
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease;
    top: 50%;
    transform: translateY(-50%);
}


.modal.fade-out {
    opacity: 0;
}

.close-button {
    right: 20px;
    margin-top: 10px;
    position: absolute;
    padding: 10px 20px;
    background-color: #ff6252;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.close-button:hover {
    background-color: #d45142;
    transform: scale(1.03);
}


textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #171717;
    color: #121212;
    border: 1px solid beige;
}

.send-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #49c871;
    color: beige;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.send-button:hover {
    background-color: #3a9b5a;
    transform: scale(1.03);
}

#feedbackModal {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#feedbackModal.show {
    display: block;
    opacity: 1;
}






.footer {
    background: #121212;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}
  
.footer p {
    color: beige;
    margin: 10px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

@media only screen and (max-width: 576px) {
    .homepage-flaux {
        padding: 12vh 5%;
        flex-direction: column;
        align-items: flex-start;
    }

    .homepage-flaux-content {
        max-width: 100%;
    }

    .homepage-title {
        font-size: 30px;
    }

    .homepage-description {
        font-size: 16px;
    }

    .homepage-flaux img {
        display: none;
    }

    .homepage-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .homepage-button {
        width: 100%;
        padding: 12px;
    }

    .feedback-button {
        display: none; 
        height: 0; 
        margin: 0;
        padding: 0;
    }

    .modal-content {
        width: 80%;
        padding: 15px;
    }

    .footer {
        padding: 10px 80px;
    }

    .footer p {
        font-size: 0.9rem;
    }

    textarea {
        font-size: 14px;
    }

    .send-button {
        width: 100%;
    }
}